<title>Wild Circus</title>

    <body>
        <div id="bloc_page">

            <header>
                <h1>Wild Circus</h1>

                <nav>
                    <ul id="conteneur">

                        
                        
                        <li><a href="#performances">Performances</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#prices">Prices</a></li>
                        <li><a href="#contact">Contact</a></li>
                        
                    </ul>
                </nav>
            </header>

           
            <section>
                <h2 id="performances">Performances</h2>
                
                <ul id='performances-list'>
                  
                    <li>
                        <h3>Laugh</h3>
                        <p>As an adult, come and discover our irresistible clowns, between practical jokes and pranks let yourself be carried away by their joy and fall back into childhood.</p>
                    </li>

                    <li>
                        <h3>Dream</h3>
                        <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
                    </li>
                    <li>
                        <h3>Marvel at</h3>
                        <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
                    </li>
                </ul>
            </section>

            <section>
                <h2 id='about-us'>About Us</h2>
                <aside>
                    <article id='about-us-article'> 
                        <p> 
                            <br/>The history of the Wild circus begins in England during the winter of 1853/1854 at the initiative of two brothers, William and George Wild.<br/>
                            <br/>These two brothers who are not from the circus world are passionate from a young age for the show, including the theater and eventually acquire a piece of the sails of a boat to create a small circus tent.<br/>
                            <br/>After a difficult beginning, they decide to go to the Netherlands, then they arrive for the first time in France in 1868. The success is at the rendezvous and finally the children of William settle definitively in France in 1904, with the purchase of a property in the Tarn-et-Garonne in the town of Lavilledieu du Temple.<br/>
                            <br/>During the following years, the success is at the appointment, but from 1927, financial difficulties appear and finally the Wild Circus will be auctioned on July 16, 1928.
                        </p><br/>


                        <p> 
                            <br/>Charles SPIESSERT - Second owner 1928-1971<br/>

                            <br/>On the occasion of the auction of July 16, 1928, Charles Spiessert, a descendant of Hungarian carnival, acquires the equipment of the Marquee and the animals of the Wild Circus.<br/>

                            <br/>Soon, this passionate mechanic will modernize his circus and offer high quality shows. In 1932, he bought a beautiful property in Chanceaux-sur-Choisille, a small village a few miles from Tours, which will allow him to establish a rear base for his circus.<br/>

                            <br/>After the Second World War, the Wild Circus under his direction will experience its glory days, with more and more beautiful shows, state-of-the-art road equipment and, above all, success with the help of the ORTF and the games.<br/>

                            <br/>In 1971, Charles Spiessert died. His children take over the torch, but the Cirque, which is going through a financial crisis, will finally be sold at the end of 1971 to comedian Jean Richard.
                        </p><br/>


                        <p>

                            <br/>Jean RICHARD - Third owner 1972-1983<br/>

                            <br/>In early 1972, the famous actor Jean Richard becomes the third owner of the Wild Circus and from the beginning of the tour, his name appears in blue color on all vehicles of the Circus.<br/>

                            <br/>On May 10, 1973, he is the victim of a serious road accident, and that is when the financial difficulties will begin. Owner of the amusement park "La Mer de sable" in Ermenonville, the Cirque Jean Richard he created in 1969, but also the Nouvel Hippodrome de Paris, all this will be difficult to manage, especially as he has retained his activities as an actor and actor for television.<br/> 

                            <br/>After a first bankruptcy in 1978, he can not prevent a second few years later. On June 17, 1983, the Wild Circus and Jean Richard, as well as the trade name Jean Richard, will be sold to Mr. Gilbert Edelstein.<br/>
                            Jean Richard passed away on December 12, 2001 at the age of 80.
                        </p><br/>

                        <p>
                            <br/>Gilbert EDELSTEIN - Since 1983<br/>

                            <br/>It was on June 23, 1983 that Gilbert Edelstein, a former collaborator of Jean Richard, became the fourth owner of the Wild Circus since its creation in 1854.<br/>


                            <br/>Gilbert Edelstein comes from a family of fabric traders and not, as is often the case, a circus family.<br/>

                            <br/>Initially a rock concert organizer in the 1960s, he later opened a restaurant in Lyon, where he is from. This is where a friend, André Vylar presents the comedian Jean Richard.<br/>

                            <br/>Jean Richard offers him a commercial position as well as advertising management, a position he will hold for seven years before founding his own company "Promogil", a company to promote Circus and in particular derivative products to several Cirques, including Amar and Bouglione.<br/>

                            <br/>Well helped by his wife Andrée, he reorganized Wild Circus, modernized management and quickly returned to popular and financial success, to become in a few years the first traveling company of Cirque de France and Europe.<br/>

                            <br/>In 1998 he bought a large property in the south of Paris in the commune of Perthes-en-Gâtinais, which included a castle, a farmhouse and 130 hectares of wood, which would serve him as a base base for his circus ( mechanical workshop and painting) and on the other hand to create a theme park on the theme of the Circus, called "Wild Circus", which is scheduled to open in 2017.<br/>

                            <br/>He can also count on his two children, Frédéric and Sophie, who have become in a few years two artists of international renown.<br/>

                            <br/>Sophie, who for several years presented the two elephants of Wild Circus, is now the Artistic Director of the Circus, while maintaining her remarkable and unique number of magic and great illusions.<br/>

                            <br/>As for Frederic, he is to this day one of the greatest tamers of his generation, presenting under the marquee twelve white lions, a number unique in the world.
                        </p><br/>


                    </article>
                </aside>
            </section>

            <hr/>

            <section>
                <h2 id='prices'>Prices</h2>
                <aside>
                    <table>
                        <tr>
                            <th>Category</th>
                            <th>Weeks off Wednesday</th>
                            <th>week-end and wednesday</th>
                        </tr>
                        <tr>
                            <td>Adults</td>
                            <td>20$</td>
                            <td>25$</td>
                        </tr>
                        <tr>
                            <td>children under 12 years</td>
                            <td>15$</td>
                            <td>20$</td>
                        </tr>
                        <tr>
                            <td>Groups (more than 10 people)</td>
                            <td>10$</td>
                            <td>15$</td>
                        </tr>
                        <tr>
                            <td>Schools</td>
                            <td>8$</td>
                            <td>--</td>
                        </tr>   
                    </table>
                </aside>
            </section>

            <section id='contact-section'>
                
                <h2 id='contact'>Contact Us</h2>
                <aside>
                    <div id='map'></div>
                    <form>

          
                        <label for="name">Your name</label><br/>
                        <input type="text" name="name" id="name" /><br/> <br/>

                        <label for="first-name">Your first name</label><br/><br/>
                        <input type="text" name="first-name" id="first-name" /><br/><br/>
                        <label for="email">Your Email</label><br/>
                        <input type="text" name="email" id="email"/><br/><br/>
                
                        <label for="your-message">Your message</label><br/>
                        <textarea name="your-message" id="your-message"></textarea><br/><br/>
                     

                        <input type="submit" value="Envoyer" />
                    </form>    
                </aside>
            </section>

            <footer>
                <p>Wild Circus by [MIRLOUP Magalie]</p>
            </footer>
        </div> 
    </body>