<section>
  <h2 id='prices'>Prices</h2>
  <aside>
      <table>
          <tr>
              <th>Category</th>
              <th>Weeks off Wednesday</th>
              <th>week-end and wednesday</th>
          </tr>
          <tr>
              <td>Adults</td>
              <td>20$</td>
              <td>25$</td>
          </tr>
          <tr>
              <td>children under 12 years</td>
              <td>15$</td>
              <td>20$</td>
          </tr>
          <tr>
              <td>Groups (more than 10 people)</td>
              <td>10$</td>
              <td>15$</td>
          </tr>
          <tr>
              <td>Schools</td>
              <td>8$</td>
              <td>--</td>
          </tr>   
      </table>
  </aside>
</section>

