header {
    margin: 0px;
    height: 80px;
    color: white;
    background: var(--tiron1);
    border-bottom:solid 5px var(--tiron4);
    top: 0;
    position: fixed;
    z-index: 20;
    padding: 0;
}
.navbar{
    height: 80px;
}

.title {
    color: white;
    font-size: calc(1rem + 1vw);
    font-family: sans-serif;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    height: 100%;
    font-size: calc(1rem + 0.3vw);
    
}
.buttonCont {
    height: 100%;
    margin-top: -60px;
}
.toggleButton{
    width: 100px;
    height: 100%;
}
.buttonside {
    height: 70px;
    margin: 0px;
    padding: 0px;
    margin: 0px;
}

.wrapMobileNav {
    padding: 0px;
    margin: 0px;
}
.mobileNav {
    position: absolute;
    height: 100vh;
    padding: 0px;
    min-width: 100px;
    color: white;
    z-index: 20;
}

button {
    position: relative;
}

button::before, button::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #947f3a;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

button::before {
    top: 0;
}

button::after {
    bottom: 0;
}

button:hover::before, button:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.collapse {
    visibility: hidden;
}

.collapse.show {
    visibility: visible;
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}
