#contact-section form {
    box-shadow: 0px 2px 5px black;
    width: 240px;
    padding: 30px;
    margin-top: -440px;
    margin-left: 45px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 239, 182, 0.8);
  }
  
  #contact-section form input { 
    height: 25px;
  }
  
  #contact-section form textarea, #contact-section form input {
    width: 240px;
    border-radius: 4px;
    border: none;
  }
  
  #contact-section form textarea {
    height: 100px;
  }