<section id='contact-section'>
                
  <h2 id='contact'>Contact Us</h2>
  <aside>
      <div id='map'></div>
      <form>


          <label for="name">Your name</label><br/>
          <input type="text" name="name" id="name" /><br/> <br/>

          <label for="first-name">Your first name</label><br/><br/>
          <input type="text" name="first-name" id="first-name" /><br/><br/>
          <label for="email">Your Email</label><br/>
          <input type="text" name="email" id="email"/><br/><br/>
  
          <label for="your-message">Your message</label><br/>
          <textarea name="your-message" id="your-message"></textarea><br/><br/>
       

          <input type="submit" value="Envoyer" />
      </form>    
  </aside>
</section>
