h2
{
 font-size: 40px; 
 color: #B1221C;
 font-family: 'Amatic SC', cursive;
}

#contact-section form {
    box-shadow: 0px 2px 5px black;
    width: 340px;
    padding: 30px;
    margin-top: -440px;
    margin-left: 55px;
    position: relative;
    z-index: 2;
    background-color: burlywood;
  }
  
  #contact-section form input { 
    height: 30px;
    width: 250px;
  }
  
  #contact-section form textarea, #contact-section form input {
    border-radius: 4px;
    border: none;
    width: 250px;
  }
  
  #contact-section form textarea {
    height: 100px;
  }